<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <title>Jewelry Shop</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/colorbox.css') }}" />
    <script type="text/javascript" src="{{ asset('js/jquery-1.11.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.colorbox-min.js') }}"></script>

</head>
<body>
<div id="wrap">

    <div class="header">
        <div class="logo"><a href="{{ path('shop_homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="" title="" border="0" /></a></div>

        {% if not app.user %}
        <div class="register"><a href="{{ path('register') }}">Register</a></div>
        {% endif %}
        <div class="logout"><a href="{{ path('logout') }}">Logout</a></div>
        {% if not app.user %}
        <div class="login"><a href="{{ path('login') }}">Login</a></div>
        {% endif %}

        <div id="menu">
            <ul>
                {% if app.request.attributes.get('_route') == 'shop_homepage' %}
                    <li class="selected"><a href="{{ path('shop_homepage') }}">home</a></li>
                {% else %}
                    <li><a href="{{ path('shop_homepage') }}">home</a></li>
                {% endif %}
                {% if app.request.attributes.get('_route') == 'shop_about_us' %}
                    <li class="selected"><a href="{{ path('shop_about_us') }}">about us</a></li>
                {% else %}
                    <li><a href="{{ path('shop_about_us') }}">about us</a></li>
                {% endif %}
                {% if app.request.attributes.get('_route') == 'category' %}
                    <li class="selected"><a href="{{ path('category') }}">jewels</a></li>
                {% else %}
                    <li><a href="{{ path('category') }}">jewels</a></li>
                {% endif %}
                {% if (app.request.attributes.get('_route') == 'personal_info')
                    or (app.request.attributes.get('_route') == 'user_edit')
                    or (app.request.attributes.get('_route') == 'wish_list')
                    or (app.request.attributes.get('_route') == 'add_category')
                    or (app.request.attributes.get('_route') == 'admin_category')
                    or (app.request.attributes.get('_route') == 'admin_good')
                    or (app.request.attributes.get('_route') == 'add_good')
                    or (app.request.attributes.get('_route') == 'order_processing')
                %}
                    <li class="selected"><a href="{{ path('my_account') }}">my account</a></li>
                {% else %}
                    <li><a href="{{ path('my_account') }}">my account</a></li>
                {% endif %}
                {% if app.request.attributes.get('_route') == 'contact_us' %}
                    <li class="selected"><a href="{{ path('contact_us') }}">contacts</a></li>
                {% else %}
                    <li><a href="{{ path('contact_us') }}">contacts</a></li>
                {% endif %}
            </ul>
        </div>
    </div>


    <div class="center_content">
        {% for flashMessage in app.session.flashbag.get('notice') %}

            <div class="flash-message">{{ flashMessage }}</div>

        {% endfor %}
        {% block content %}
        {% endblock %}
        {% block fos_user_content %}
        {% endblock fos_user_content %}

        <div class="right_content">
            <div class="languages_box">
                <span class="red">Languages:</span>
                <a href="#" class="selected"><img src="{{ asset('images/gb.gif') }}" alt="" title="" border="0" /></a>
                <a href="#"><img src="{{ asset('images/fr.gif') }}" alt="" title="" border="0" /></a>
                <a href="#"><img src="{{ asset('images/de.gif') }}" alt="" title="" border="0" /></a>
            </div>
            <div class="currency">
                <span class="red">Currency: </span>
                <a href="#">GBP</a>
                <a href="#">EUR</a>
                <a href="#" class="selected">USD</a>
            </div>


            <div class="cart">
                <div class="title"><span class="title_icon"><img src="{{ asset('images/cart.gif') }}" alt="" title="" /></span>My cart</div>
                <div class="home_cart_content">
                    3 x items | <span class="red">TOTAL: 100$</span>
                </div>
                <a href="{{ path('cart') }}" class="view_cart">view cart</a>

            </div>

            <div class="title"><span class="title_icon"><img src="{{ asset('images/bullet3.gif') }}" alt="" title="" /></span><a href="{{ path('shop_about_us') }}">About Our Shop</a></div>
            <div class="about">
                <p>
                    <img src="{{ asset('images/about.gif') }}" alt="" title="" class="right" />
                    Our jewels - it's part of your happy stories. Jewellery designed to preserve the most precious moments of life and do amazing every day. Our inspiration - heartfelt emotions hidden in the heart. The unique vision of beauty and craftsmanship combine to create a true reflection of your feelings in our exclusive jewelery quality.
                </p>

            </div>

            <div class="right_box">

                <div class="title"><span class="title_icon"><img src="{{ asset('images/bullet4.gif') }}" alt="" title="" /></span>Promotions</div>
                {% set goodsPromotions = get_promotions() %}
                    {% for good in goodsPromotions %}
                    <div class="new_prod_box">
                        <a href="{{ path('details', { 'id': good.id }) }}">{{ good.name }}</a>
                        <div class="new_prod_bg">
                            <span class="new_icon"><img src="{{ asset('images/promo_icon.gif') }}" alt="" title="" /></span>
                            <a href="{{ path('details', { 'id': good.id }) }}"><img src="{{ asset(good.getUploadDir~'/'~good.picture) }}" width="100" height="89" alt="" title="" class="thumb" border="0" /></a>
                        </div>
                    </div>
                    {% endfor %}

            </div>

            <div class="right_box">

                <div class="title"><span class="title_icon"><img src="{{ asset('images/bullet5.gif') }}" alt="" title="" /></span>Categories</div>
                {% set categories = get_categories() %}
                <ul class="list">
                    {% for category in categories %}
                        <li><a href="{{ path('one_of_category', {'transName':category.transName}) }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>

            </div>


        </div><!--end of right content-->

        <div class="clear"></div>
    </div><!--end of center content-->

    <div class="footer">
        <div class="left_footer"><img src="{{ asset('images/footer_logo.gif') }}" alt="" title="" /><br /> <a href="http://csscreme.com/freecsstemplates/" title="free css templates"><img src="{{ asset('images/csscreme.gif') }}" alt="free css templates" border="0" /></a></div>
        <div class="right_footer">
            <a href="{{ path('shop_homepage') }}">home</a>
            <a href="{{ path('shop_about_us') }}">about us</a>
            <a href="{{ path('services') }}">services</a>
            <a href="{{ path('privacy_policy') }}">privacy policy</a>
            <a href="{{ path('contact_us') }}">contact us</a>
        </div>
    </div>

</div>

</body>
</html>