{% extends '@User/layout.html.twig' %}
{% block content %}
<div class="left_content">
    <div class="crumb_nav">
        <a href="{{ path('shop_homepage') }}">home</a> &gt;&gt; jewels
    </div>
    <div class="title">Categories</div>

    <div class="new_products">
        {% for category in categories %}
        <div class="new_prod_box">
            <a href="{{ path('one_of_category', { 'transName': category.transName }) }}">{{ category.name }}</a>
            <div class="new_prod_bg">
                <a href="{{ path('one_of_category', { 'transName': category.transName }) }}"><img src="{{ asset(category.getUploadDir~'/'~category.picture) }}" width="123" height="100" alt="" title="" class="thumb" border="0" /></a>
            </div>
        </div>
        {% endfor %}

    </div>


    <div class="clear"></div>
</div><!--end of left content-->
{% endblock %}