{% extends '@User/layout.html.twig' %}
{% block content %}
<div class="left_content">
    <div class="crumb_nav">
        <a href="{{ path('shop_homepage') }}">home</a> &gt;&gt;  <a href="{{ path('one_of_category', { 'transName': good.category.transName }) }}">{{ good.category.name }}</a>&gt;&gt; {{ good.name }}
    </div>
    <div class="title">{{ good.name }}</div>
        <div class="feat_prod_box_details">

        <div class="prod_img"><img src="{{ asset(good.getUploadDir~'/'~good.picture) }}"  width="120" height="105" alt="" title="" border="0" />
            <br /><br />
            <a href="{{ asset(good.getUploadDir~'/'~good.picture) }}" id="zoom"><img src="{{ asset('images/zoom.gif') }}"  alt="" title="" border="0" /></a>
        </div>

        <div class="prod_det_box">
            <div class="box_top"></div>
            <div class="box_center">
                <div class="prod_title">Details</div>
                <p class="details">L{{ good.description }}
                <div class="price"><strong>PRICE:</strong> <span class="red">{{ good.price }}</span></div><a href="details.html" class="more"><img src="{{ asset('images/order_now.gif') }}" alt="" title="" border="0" /></a>
                <div class="clear"></div>
            </div>

            <div class="box_bottom"></div>
        </div>
        <div class="clear"></div>
    </div>





    <div class="clear"></div>
</div><!--end of left content-->

    <script>
        $('#zoom').colorbox();
    </script>
{% endblock %}